<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      label {
        margin-bottom: 10px;
      }

      input {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
      }

      button {
        padding: 10px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover {
        background-color: #45a049;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Nhập mã OTP</h1>
      <form action="/verify-otp" method="post" onsubmit="return validateForm()">
        <label for="otp">Nhập mã OTP:</label>
        <input type="text" id="otp" name="otp" required />
        <button type="submit">Verify OTP</button>
      </form>
    </div>
    <script>
      function validateForm() {
        var otpInput = document.getElementById("otp").value;

        return true;
      }
    </script>
  </body>
</html>
